@media only screen and (max-width: 320px) {
    .masthead-heading {
        font-size: 3em;
    }
     .masthead-heading {
        font-size: 3em;
    }
}
body { /*typography declarations*/
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
 }
.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}
.masthead,
.mastbody {
  padding: 6em 0;
  background-image:url('http://i.imgur.com/7saevzQ.jpg'); 
  background-size:cover;
  background-repeat:no-repeat;
  color: white;
  }
  
.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}
.masthead-heading {
  margin-top: -0.2em;
  font-family:"Open Sans", "Helvetica Neue", sans-serif;
  font-size:6em;
  font-weight: bold;
  letter-spacing:-0.05em;
  text-transform:uppercase;
  text-shadow: 1px 1px 1px;
 }
.content-footer,
.introduction-section,
.location-section,
.questions-section {
  max-width:38em;
  margin-left:auto;
  margin-right:auto;
  margin-top:2em;
}

.highlight-paragraph {
  font-weight: bold;
  color:#123582;
}
.social>li {
  display:inline-block;
  font-size: 0.9em;
}
.questions-section >h2 {
  /*typography declaration*/
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight:bold;
 }
.content-footer {
   border-radius: 10px;
   background: #8aa3c8;
}
.introduction-section,
.location-section,
.questions-section {
  border-radius: 10px;
  background: #FFC0AA; 
  padding: 20px;
  }
